* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(67.2deg, rgb(37, 208, 199) -7.5%, rgb(165, 90, 240) 62.7%);
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
header .logo a span {
  font-size: 2rem;
  font-weight: bold;
}

#container {
  margin-top: 3rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signin-form {
  background-color: rgba(255, 255, 255, 0.555);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  border-radius: 1rem;
  width: 70rem;
  padding: 5rem 3rem;
  position: relative;
}
#signin-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.639);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  z-index: -1;
}
#signin-form .info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#signin-form .info h1 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.748);
}
#signin-form .info p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
#signin-form .info .btn {
  margin-top: 3rem;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(37, 208, 199);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
#signin-form .info .btn:hover {
  background-color: rgb(4, 139, 132);
}
#signin-form .form {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#signin-form .form h2 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.748);
  margin-bottom: 2rem;
}
#signin-form .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#signin-form .form form .inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#signin-form .form form .inputs input {
  width: 100%;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  font-size: 1.1rem;
}
#signin-form .form form .inputs input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.6);
}
#signin-form .form form .sm-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#signin-form .form form .sm-row .remember {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
#signin-form .form form .sm-row .remember input {
  width: 1rem;
  padding: 0rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
#signin-form .form form .sm-row .remember label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
}
#signin-form .form form .sm-row .forget a {
  color: rgba(0, 0, 255, 0.586);
  font-size: 0.9rem;
  transition: all 0.3s ease;
}
#signin-form .form form .sm-row .forget a:hover {
  color: rgba(0, 0, 255, 0.776);
}
#signin-form > p {
  display: none;
}

#submit-btn {
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(37, 208, 199);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
#submit-btn:hover {
  background-color: rgb(4, 139, 132);
}

.password {
  position: relative;
}
.password i {
  position: absolute;
  top: 35%;
  right: 0.7rem;
  cursor: pointer;
}

.error-msg {
  display: none;
  border: 1px solid rgba(255, 0, 0, 0.437);
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.3rem;
  background-color: rgb(224, 184, 180);
  text-align: center;
  line-height: 1.3rem;
}
.error-msg span {
  font-size: 0.8rem;
}
.error-msg span a {
  color: rgba(0, 0, 255, 0.586);
}

.another-methods p {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin: 1rem 0;
}
.another-methods .social {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.another-methods .social a {
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.another-methods .social a i {
  color: black;
  font-size: 1.5rem;
}
.another-methods .social a:hover {
  transform: scale(1.15);
}

#devloper {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

#devloper p {
  color: rgba(0, 0, 255, 0.92);
  font-size: 1.1rem;
}

#devloper a {
  color: rgba(255, 255, 255, 0.695);
  font-size: 1.1rem;
}

@media screen and (max-width: 1192px) {
  #container {
    padding: 0 2rem;
  }
  #signin-form {
    width: 100%;
  }
}
@media screen and (max-width: 804px) {
  header .logo a span {
    font-size: 1.6rem;
  }
  #signin-form .info h1 {
    font-size: 1.6rem;
  }
  #signin-form .info p {
    font-size: 0.9rem;
  }
  #signin-form .info .btn {
    font-size: 0.9rem;
  }
  #signin-form .form h2 {
    font-size: 1.6rem;
  }
  #signin-form .form form .inputs input {
    font-size: 0.9rem;
  }
  #signin-form .form form .sm-row .remember input {
    width: 0.7rem;
  }
  #signin-form .form form .sm-row .remember label {
    font-size: 0.75rem;
  }
  #signin-form .form form .sm-row .forget a {
    font-size: 0.75rem;
  }
  #submit-btn {
    font-size: 0.9rem;
  }
  .another-methods p {
    font-size: 0.9rem;
  }
  .another-methods .social a i {
    font-size: 1.2rem;
  }
  .another-methods .social a {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (max-width: 694px) {
  #signin-form {
    flex-direction: column;
  }
  #signin-form .info {
    display: none;
  }
  #signin-form::before {
    width: 0;
    height: 0;
  }
  #signin-form .form {
    width: 100%;
  }
  #signin-form > p {
    display: block;
    font-size: 0.9rem;
  }
  #signin-form {
    gap: 3rem;
  }
}
@media screen and (max-width: 537px) {
  #signin-form {
    padding: 3.5rem 3rem;
  }
  #signin-form .form h2 {
    font-size: 1.3rem;
  }
  #signin-form .form form .inputs input {
    font-size: 0.8rem;
  }
  #signin-form > p {
    font-size: 0.8rem;
  }
  .password i {
    top: 37%;
    font-size: 0.8rem;
  }
  .error-msg span {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 369px) {
  header {
    padding: 1.2rem 1.5rem;
  }
  header .logo a span {
    font-size: 1.4rem;
  }
  #submit-btn {
    padding: 0.7rem;
  }
  #container {
    padding: 0 1rem;
  }
  #signin-form {
    padding: 3rem 2rem;
  }
}/*# sourceMappingURL=signIn.css.map */